node_modules
npm-debug.log
tasks.txt
build
build.log
JSBSim/**/.deps/
JSBSim/**/Makefile
JSBSim/configure
JSBSim/config.guess
JSBSim/config.log
JSBSim/config.status
JSBSim/config.sub
JSBSim/autom4te.cache
JSBSim/compile
JSBSim/aclocal.m4
JSBSim/depcomp
JSBSim/install-sh
JSBSim/libtool
JSBSim/ltmain.sh
JSBSim/missing
JSBSim/src/JSBSim
a.out*
*.o
*.a
*.in
